{% extends 'base.html' %}


{%block content%}
    <main>
        <div>
            <h1>My Projects</h1>
            <h3><a href= "{% url 'create_project' %}">Create Project</a></h3>
            {%if not listprojects%}
                <p>You are not assigned to any projects</p>
            {%else%}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of tasks</th>
                        </tr>
                    </thead>
                    {% for projects in listprojects%}
                        <tr>
                            <td><a href="{% url 'show_project' projects.pk %}">{{projects.name}}</a></td>
                            <td>{{projects.tasks.count}}</td>
                        </tr>
                    {%endfor%}
                    {% comment %} {% for projects in listprojects%}
            <tr>
                <td>{{projects.name}}<td>
                    <td>{{projects.name}}<td>
            </tr>
            {%endfor%} {% endcomment %}
                </table>
            {%endif%}
        </div>

    </main>
{% endblock content%}