{% extends 'base.html' %}
{% load markdownify %}


{%block content%}
    <main>
        <div>
            <h1>{{showproject.name}}</h1>
            {{ showproject.description|markdownify }}
            <h2>Tasks</h2>
            <h3><a href= "{% url 'create_task' %}">Create Task</a></h3>
            {% if showproject.tasks %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Assignee</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    {%for task in showproject.tasks.all %}
                        <tr>
                            <td>{{task.name}}</td>
                            <td>{{task.assignee}}</td>
                            <td>{{task.start_date}}</td>
                            <td>{{task.due_date}}</td>
                            <td>{{task.is_completed}}</td>
                        </tr>
                    {%endfor%}
                </table>
            {%else%}
                <p>This project has no tasks.</p>
            {%endif%}
        </div>
    </main>
{% endblock content%}